.discounts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.discounts-content {
  width: 100%;
  height: 100px;
  flex-grow: 1;
}

:deep(.table) {
  height: 100%;
  overflow: auto;
  position: relative;

  td,
  th {
    white-space: unset;
  }

  th.moderation {
    text-align: center;
  }

  .col_image {
    width: 70px;
    max-width: 70px;
  }

  .col_company {
    width: 200px;
    max-width: 200px;
  }

  .col_name {
    width: 200px;
    max-width: 200px;
  }

  .col_title {
    width: 150px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .col_description {
    width: 150px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .col_remove {
    opacity: 0;
  }
}

.discount__moderation {
  display: flex;
  justify-content: center;
}

.discount {
  font-size: 12px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    .col_remove {
      opacity: 1;
    }
  }
}

.discount__image {
  position: relative;
  width: 75px;
  height: 50px;
  background-color: #dcdee6;
  overflow: hidden;
  border-radius: 4px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
