<template>
  <div class="discounts">
    <Topbar>
      <template v-slot:left>
        <Breadcrumb :links="[{ title: 'Главная' }, { title: 'Скидки' }]" />
      </template>

      <template v-slot:right>
        <Search :value="search" @input="onSearchInput" @search="onSearch" />
      </template>
    </Topbar>

    <div class="discounts-content">
      <Table ref="table" :sorted="order" :columns="columns" @scrollEnd="loadMoreDiscounts" @sort="onSort">
        <template #rows>
          <tr v-for="discount in normalizedList" :key="discount.id" class="discount" @click="tryToEdit(discount)">
            <td class="col_image">
              <div class="discount__image">
                <img v-if="discount.image_link" :src="discount.image_link" />
              </div>
            </td>
            <td class="col_company">{{ discount._company_name }}</td>
            <td class="col_name">{{ discount._discount_name }}</td>
            <td class="col_title">{{ discount.title }}</td>
            <td class="col_description">{{ discount.description }}</td>
            <td @click.stop class="col_moderation">
              <div class="discount__moderation">
                <Checkbox :value="discount.is_moderated" :onChange="toggleModerated(discount)" />
              </div>
            </td>
            <td class="col_remove" @click.stop="tryToDelete(discount)"><RemoveIcon /></td>
          </tr>
        </template>
      </Table>
    </div>

    <DeleteModal v-if="selectedForDelete" title="Удалить скидку?" @close="cancelDelete" @delete="deleteDiscount" />

    <EditDiscount v-if="selectedForEdit" :discount="selectedForEdit" @close="cancelEdit" @save="editDiscount" />
  </div>
</template>

<script>
import Button from '@/core/components/Controls/Button/Button';
import DeleteModal from '@/apps/content/components/DeleteModal/DeleteModal';
import Table from '@/core/components/Table/Table';
import Checkbox from '@/core/components/Checkbox/Checkbox';
import EditDiscount from './components/EditDiscount/EditDiscount';
import Topbar from '@/core/components/Topbar/Topbar';
import Breadcrumb from '@/core/components/Breadcrumb/Breadcrumb';
import Search from '@/core/components/Search/Search';
import RemoveIcon from '@/core/assets/remove-icon.svg';
import { discountAPI } from '@/core/api/discount';
import { asyncDebounce, InfinityList } from '@/core/utils';

export default {
  components: {
    Table,
    Checkbox,
    RemoveIcon,
    DeleteModal,
    Button,
    EditDiscount,
    Topbar,
    Breadcrumb,
    Search,
  },

  data() {
    return {
      selectedForDelete: null,
      selectedForEdit: null,

      discountList: new InfinityList(discountAPI.getList),
      search: '',
      q: '',

      order: {
        is_moderated: 'ASC',
      },

      updatedHeap: new Set(),
      uploadedHeap: new Set(),
    };
  },

  watch: {
    q() {
      const { table } = this.$refs;
      table && table.scrollTop();

      this.fetchDiscounts();
    },
  },

  computed: {
    columns() {
      return [
        {
          value: 'image',
          name: 'Картинка',
        },
        {
          value: 'company',
          name: 'ID и название компании',
        },
        {
          value: 'discount_set',
          name: 'ID и название набора скидок',
        },
        {
          value: 'title',
          name: 'Заголовок',
        },
        {
          value: 'description',
          name: 'Короткое описание',
        },
        {
          value: 'moderation',
          name: 'Модерация',
        },
        {
          value: 'remove',
          name: '',
        },
      ];
    },

    normalizedList() {
      return this.discountList.getList().map((discount) => {
        const { is_moderated, company } = discount;
        const _company_name = `${company.id} ${company.name}`;
        const _discount_name = `${discount.id} ${discount.name}`;

        return {
          ...discount,
          _company_name,
          _discount_name,
          is_moderated: !!is_moderated,
        };
      });
    },
  },

  mounted() {
    this.fetchDiscounts();
  },

  methods: {
    tryToDelete(discount) {
      this.selectedForDelete = discount;
    },

    cancelDelete() {
      this.selectedForDelete = null;
    },

    tryToEdit(discount) {
      this.selectedForEdit = discount;
    },

    cancelEdit() {
      this.selectedForEdit = null;
    },

    onSort({ column, value }) {
      this.order = { [column]: value };
      this.fetchDiscounts();
    },

    fetchDiscounts() {
      return this.discountList.fetch({ order: this.order, q: this.q });
    },

    loadMoreDiscounts() {
      return this.discountList.loadMore({ order: this.order, q: this.q });
    },

    updateDiscount(discount) {
      const { id } = discount;
      if (this.updatedHeap.has(id)) return Promise.resolve(false);

      this.updatedHeap.add(id);
      return discountAPI
        .update(discount)
        .then((updatedDiscount) => {
          this.discountList.replaceItem(id, updatedDiscount);
          return true;
        })
        .catch((error) => {
          console.error(error);
          return false;
        })
        .finally(() => this.updatedHeap.delete(id));
    },

    updateBrand(brand) {
      const { id } = brand;
      if (this.updatedHeap.has(id)) return Promise.resolve(false);

      this.updatedHeap.add(id);
      return discountAPI
        .updateBrand(brand)
        .then(() => {
          return true;
        })
        .catch((error) => {
          console.error(error);
          return false;
        })
        .finally(() => this.updatedHeap.delete(id));
    },

    uploadImage(image, id) {
      if (!image) return Promise.resolve(true);
      if (this.uploadedHeap.has(id)) return Promise.resolve(false);

      this.uploadedHeap.add(id);
      return discountAPI
        .uploadImage({ id, file: image })
        .then((updatedDiscount) => {
          this.discountList.replaceItem(id, updatedDiscount);
          return true;
        })
        .catch((error) => {
          console.error(error);
          return false;
        })
        .finally(() => this.uploadedHeap.delete(id));
    },

    toggleModerated(discount) {
      return (isModerated) => {
        this.updateDiscount({ ...discount, is_moderated: Number(isModerated) });
      };
    },

    onSearchInput(event) {
      this.search = event.target.value;
    },

    onSearch(value) {
      this.q = value;
    },

    async editDiscount({ discount, image, brand }) {
      const results = await Promise.all([
        this.updateBrand(brand).then(() => this.updateDiscount(discount)),
        this.uploadImage(image, discount.id),
      ]);
      if (results.some((v) => !v)) return;

      this.cancelEdit();
    },

    deleteDiscount: asyncDebounce(async function () {
      if (!this.selectedForDelete) return;
      const { id } = this.selectedForDelete;

      try {
        await discountAPI.delete({ id });

        this.discountList.removeItem(id);
        this.cancelDelete();

        if (this.discountList.length < this.discountList.limit) {
          this.fetchDiscounts();
        }
      } catch (error) {
        console.error(error);
      }
    }),
  },
};
</script>

<style src="./Discounts.scss" lang="scss" scoped></style>
