.card-preview {
  width: 360px;
  padding: 16px;
  background-color: #f5f7fa;
  color: #191b23;
}

.card-preview__body {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1.9115px 15.292px rgba(25, 27, 35, 0.06);
  border-radius: 11.469px;
}

.card-preview__scan {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9fafb;
  border-radius: 8px;
  z-index: 2;
}

.card-preview__image-block {
  position: relative;
}

.card-preview__logo,
.card-preview__image {
  position: relative;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.card-preview__image {
  width: 100%;
  height: 155px;
  background-color: #dcdee6;
}

.card-preview__logo-wrapper {
  position: absolute;
  top: 100%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 2;
}

.card-preview__logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f5f7fa;
}

.card-preview__info {
  padding: 6px 13px 11px;
}

.card-preview__title {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.25px;
  max-width: 235px;
  word-break: break-word;
}

.card-preview__brand {
  margin-top: 2px;
  font-size: 9.5px;
  min-height: 9.5px;
  letter-spacing: 0.48px;
  word-break: break-word;
}
