<template>
  <div class="card-preview">
    <div class="card-preview__body">
      <div class="card-preview__scan">
        <ScanIcon />
      </div>

      <div class="card-preview__image-block">
        <div class="card-preview__image">
          <img v-if="image" :src="image" />
        </div>

        <div class="card-preview__logo-wrapper">
          <div class="card-preview__logo">
            <img v-if="companyLogo" :src="companyLogo" />
          </div>
        </div>
      </div>

      <div class="card-preview__info">
        <div class="card-preview__title">{{ title }}</div>
        <div class="card-preview__brand">{{ brand }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import ScanIcon from '@/apps/content/assets/scan-icon.svg';

export default {
  components: {
    ScanIcon,
  },

  props: {
    image: {
      type: String,
      default: '',
    },
    companyLogo: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    brand: {
      type: String,
      default: '',
    },
  },

  methods: {},
};
</script>

<style src="./DiscountCardPreview.scss" lang="scss" scoped></style>
