<template>
  <div class="v-input">
    <Label v-if="label">{{ label }}</Label>

    <div :class="inputWrapperClasses" @click="focus">
      <input
        ref="input"
        autocomplete="off"
        :class="'v-input__element'"
        :value="value"
        :readonly="readonly"
        :disabled="disabled"
        @focus="onFocus"
        @blur="onBlur"
        @input="onInput"
        v-bind="$attrs"
      />

      <slot name="signature">
        <div v-if="signature" class="v-input__signature">
          {{ signature }}
        </div>
      </slot>
    </div>

    <div class="v-input__errors" v-if="showErrors">
      <div :key="error" v-for="error in errors" class="v-input__errors-item">{{ error }}</div>
    </div>
  </div>
</template>

<script>
import Label from '@/core/components/Label/Label';

export default {
  emits: ['edit'],

  components: {
    Label,
  },

  props: {
    label: {
      type: String,
      default: '',
    },

    value: {
      type: String,
      default: '',
    },

    signature: {
      type: String,
      default: '',
    },

    readonly: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    showErrors: {
      type: Boolean,
      default: true,
    },

    errors: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      focused: false,
    };
  },

  computed: {
    invalid() {
      return !!(this.errors && this.errors.length && this.showErrors);
    },

    inputWrapperClasses() {
      const wrapperClass = 'v-input-wrapper';
      const { invalid, focused, readonly, disabled } = this;

      return [wrapperClass, { invalid, focused, readonly, disabled }];
    },
  },

  methods: {
    focus() {
      this.$refs.input.focus();
    },

    onFocus(e) {
      this.focused = true;
    },

    onBlur(e) {
      this.focused = false;
    },

    onInput(e) {
      this.$emit('edit', e);
    },
  },
};
</script>

<style src="./Input.scss" lang="scss" scoped></style>
