@import '@/core/styles/variables';

.v-input {
  width: 100%;
  position: relative;
}

.v-input-wrapper {
  width: 100%;
  display: flex;
  padding: 0 12px;
  background: #ffffff;
  border: 1px solid #dcdee6;
  border-radius: 4px;
  transition: border-color 0.2s;
  cursor: text;

  &.focused {
    border-color: rgba(0, 16, 61, 0.48);
  }

  &.readonly,
  &.disabled {
    border-color: #eeeff3;
    cursor: auto;

    * {
      cursor: auto;
    }
  }

  &.invalid {
    border-color: $color-briskly-mistake;
  }

  &.disabled {
    cursor: not-allowed;

    * {
      cursor: not-allowed;
    }
  }
}

.v-input__element {
  flex-grow: 1;
  width: 0;
  padding: 10px 0;
  border: none;
  height: 100%;
  background-color: transparent;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

.v-input__signature {
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  color: #191b23;
}

.v-input__errors {
  position: absolute;
  width: 100%;
}

.v-input__errors-item {
  font-size: 12px;
  line-height: 20px;
  color: $color-briskly-mistake;
}
