<template>
  <label class="checkbox-container">
    <span v-if="label && labelPosition === 'before'" class="label before">{{ label }}</span>

    <input :disabled="disabled" :checked="value" @input="checkBoxHandler" type="checkbox" />

    <span :class="['checkmark', { disabled, round }]">
      <div v-if="round" class="round-check-icon" />
      <CheckIcon v-else class="check-icon" />
    </span>

    <span v-if="label && labelPosition === 'after'" class="label after">{{ label }}</span>
  </label>
</template>

<script>
import CheckIcon from '@/core/assets/check-icon.svg';

export default {
  components: {
    CheckIcon,
  },

  props: {
    round: {
      type: Boolean,
      default: false,
    },

    label: {
      type: String,
      default: '',
    },

    labelPosition: {
      type: String,
      default: 'before',
    },

    value: {
      type: Boolean,
      required: true,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    onChange: {
      type: Function,
      default: () => {},
    },
  },

  methods: {
    async checkBoxHandler(ev) {
      const value = ev.target.checked;

      ev.target.checked = !value;
      await this.onChange(value);
      ev.target.checked = this.value;
    },
  },
};
</script>

<style src="./Checkbox.scss" lang="scss" scoped></style>
