$active: #191b23;

.checkbox-container {
  display: block;
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label {
  font-size: 14px;
  line-height: 20px;
  color: $active;

  &.before {
    margin-right: 15px;
  }

  &.after {
    margin-left: 15px;
  }
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 18px;
  width: 18px;
  min-width: 18px;
  border: 2px solid #8792ab;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transition: background 0.2s, border-color 0.2s;

  &.round {
    border-radius: 50%;
  }

  &.disabled {
    opacity: 0.5;
  }

  &:hover:not(.disabled) {
    border-color: $active;
  }
}

.check-icon,
.round-check-icon {
  opacity: 0;
  transition: opacity 0.2s;
}

.check-icon {
  margin-bottom: 2px;
}

.round-check-icon {
  height: 10px;
  width: 10px;
  background-color: $active;
  border-radius: 50%;
}

.checkbox-container input:checked ~ .checkmark {
  border-color: $active;

  &:not(.round) {
    background-color: $active;
  }

  .check-icon,
  .round-check-icon {
    opacity: 1;
  }
}
