<template>
  <div class="content">
    <router-view />
  </div>
</template>

<style lang="scss" scoped>
.content {
  width: 100%;
  background-color: #f7fafc;
  padding: 20px;
  padding-top: 0;
  height: 100%;
}
</style>
