<template>
  <div class="content">
    <AddCardDelivery
      v-if='commentPrompt.show'
    />
    <div class="delivery">
      <TopBar>
        <template v-slot:left>
          <Breadcrumb :links="[{ title: 'Главная' }, { title: 'Доставка' }]" />
        </template>
        <template v-slot:right>
          <Button @click="onClickAddDelivery()">
            Добавить доставку
          </Button>
        </template>
      </TopBar>
      <DeliveryComponent />
    </div>
  </div>
</template>

<script>
import DeliveryComponent from '@/apps/content/components/delivery/Delivery';
import AddCardDelivery from '@/apps/content/components/delivery/AddCardDelivery';
import TopBar from '@/core/components/Topbar/Topbar';
import Breadcrumb from '@/core/components/Breadcrumb/Breadcrumb';
import Button from '@/core/components/Button/Button.vue';
import { mapActions, mapGetters } from 'vuex';


export default {
  name: 'Delivery',
  components: {
    DeliveryComponent,
    AddCardDelivery,
    TopBar,
    Breadcrumb,
    Button
  },
  computed: {
    ...mapGetters({
      type: 'support$support/type',
      commentPrompt: 'support$support/commentPrompt',
    }),
  },
  methods: {
    ...mapActions({
      setCommentPromptShow: 'support$support/setCommentPromptShow',
    }),
    onClickAddDelivery() {
      this.setCommentPromptShow(true);
    },
  }
};
</script>

<style lang='scss' scoped>
.content {
  background-color: #f7fafc;
}
.delivery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
</style>
