.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;

  font-size: 12px;
  line-height: 16px;
  background-color: #191b23;
  color: #fff;
  cursor: pointer;
  outline: none;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:active {
    box-shadow: 0 0 0 2px #8792ab;
  }

  &.primary {
    background-color: hsl(222, 17%, 24%);
  }
  &.secondary {
    background-color: #fff;
    color: #191b23;
    border: solid #e5e5e5 1px;
  }
  &.greey {
    background-color: #C4D3EA;
    color: #191B23;
  }
  &.upload {
    background-color: #fff;
    color: #191b23;
    border: 1px dashed #d1d1d1;
    transform: rotate(0.13deg);
  }
}
