<template>

  <button :disabled="disabled" :class="['button', { primary, secondary, upload, greey }]">
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    primary: Boolean,
    greey: Boolean,
    secondary: Boolean,
    upload: Boolean,
    disabled: Boolean,
  },
};
</script>

<style src="./Button.scss" lang="scss" scoped></style>
