<template>
  <div class="breadcrumb">
    <template v-for="(link, i) in links" :key="i">
      <span :class="['breadcrumb__title']">{{ link.title }}</span>
      <span v-if="i !== links.length - 1">/</span>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    links: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped src="./Breadcrumb.scss"></style>
