.page-preview {
  position: relative;
  width: 360px;
  background-color: #f5f7fa;
  color: #191b23;
}

.page-preview-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
  backdrop-filter: blur(4px);
}

.page-preview-header__time {
  font-weight: 500;
  font-size: 14px;
  margin-right: 15px;
}

.page-preview-header__icons {
  svg:not(:first-child) {
    margin-left: 4.5px;
  }
}

.page-preview-header__bangs {
  width: 210px;
  height: 28px;
  background-color: #191b23;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page-preview__image-block {
  position: relative;
}

.page-preview__logo,
.page-preview__image {
  position: relative;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.page-preview__image {
  width: 100%;
  height: 238px;
  background-color: #dcdee6;
}

.page-preview__logo-wrapper {
  position: absolute;
  top: 100%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 2;
}

.page-preview__logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;
}

.page-preview__info {
  padding: 18px 24px 16px;
}

.page-preview__store-type {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6a7b95;
  word-break: break-word;
}

.page-preview__store-name {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #191b23;
  max-width: 235px;
  word-break: break-word;
}

.page-preview__title {
  margin-top: 22px;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.25px;
  word-break: break-word;
}

.page-preview__description {
  margin-top: 2px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  word-break: break-word;
}
