<template>
  <div class="page-preview">
    <div class="page-preview-header">
      <div class="page-preview-header__time">9:10</div>
      <div class="page-preview-header__bangs"></div>
      <div class="page-preview-header__icons">
        <SignalIcon />
        <WifiIcon />
        <BatteryIcon />
      </div>
    </div>

    <div class="page-preview__image-block">
      <div class="page-preview__image">
        <img v-if="image" :src="image" />
      </div>

      <div class="page-preview__logo-wrapper">
        <div class="page-preview__logo">
          <img v-if="companyLogo" :src="companyLogo" />
        </div>
      </div>
    </div>

    <div class="page-preview__info">
      <div class="page-preview__store-type">Магазин</div>
      <div class="page-preview__store-name">Название магазина</div>

      <div class="page-preview__title">{{ title }}</div>
      <div class="page-preview__description">{{ description }}</div>
    </div>
  </div>
</template>

<script>
import SignalIcon from '@/apps/content/assets/signal-icon.svg';
import WifiIcon from '@/apps/content/assets/wifi-icon.svg';
import BatteryIcon from '@/apps/content/assets/battery-icon.svg';

export default {
  components: {
    SignalIcon,
    WifiIcon,
    BatteryIcon,
  },

  props: {
    image: {
      type: String,
      default: '',
    },
    companyLogo: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
  },

  methods: {},
};
</script>

<style src="./DiscountPagePreview.scss" lang="scss" scoped></style>
