.close-button {
  border: 1px solid #dcdee6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.size_sm {
    width: 20px;
    height: 20px;
  }

  &.size_l {
    width: 36px;
    height: 36px;
  }
}

.close-button__icon {
  width: 10px;
  height: 10px;
  position: relative;
  transform: rotate(45deg);

  &::after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 2px;
    height: 100%;
    top: 0;
    left: 4px;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: #000;
    height: 2px;
    width: 100%;
    left: 0;
    top: 4px;
  }
}

.size_sm .close-button__icon {
  width: 8px;
  height: 8px;

  &::after {
    left: 3px;
  }

  &::before {
    top: 3px;
  }
}
