<template>
  <div :class="closeButtonClass">
    <div class="close-button__icon"></div>
  </div>
</template>

<script>
import { closeButtonSizes } from './sizes';

export default {
  props: {
    size: {
      type: String,
      default: closeButtonSizes.large,
    },
  },

  computed: {
    closeButtonClass() {
      const sizeClass = `size_${this.size}`;

      return ['close-button', sizeClass];
    },
  },
};
</script>

<style src="./CloseButton.scss" lang="scss" scoped></style>
