@import '~@/core/styles/variables';

.drop-area {
  background-color: transparent;
  border: 2px solid #dcdee6;
  border-radius: 4px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 320px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  transition: background-color 0.3s ease;
  position: relative;
  color: #8a9aa3;

  .image-info__button {
    background-color: #c4d3ea;
    color: #191b23;
    border: none;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 12px;
    margin-top: 16px;
  }

  &.hoverable:hover {
    background-color: rgba(#000, 0.05);
  }

  &.enter {
    background-color: rgba(#000, 0.05);
  }

  &.has-previews {
    display: block;
    padding: 0;
  }

  .image-info__name {
    font-size: 12px;
    color: #8792ab;
    margin-bottom: 8px;
  }

  .image-info__value {
    font-weight: 500;
    font-size: 12px;
    color: #515c72;
    text-transform: uppercase;
    margin-bottom: 2px;

    &:last-child {
      margin-top: 0px;
    }
  }
}

.preview {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 256px;
  display: block;
  box-shadow: 0 3px 6px rgba(#000, 0.1);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.preview__hover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.05);
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.preview__hover-toolbar {
  height: 50px;
  // background-color: rgba(#eeeeee, 0.9);
  // border-bottom: 1px dashed rgba(#000, 0.05);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.preview-icon {
  height: 100%;
  margin-left: 10px;
  fill: #202020;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  & * {
    fill: #202020;
    transition: fill 0.3s ease;
  }

  &:hover * {
    fill: $color-primary;
  }
}

.preview-icon_zoom {
  height: 75%;
  position: relative;
  top: 1px;

  &.active * {
    fill: $color-primary;
  }
}

.preview-icon_crop {
  height: 70%;
  position: relative;
  top: -2px;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  &.hidden {
    visibility: hidden;
  }
}

.progress-bar {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 10px;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid rgba(#000, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
  }
}

.progress-bar__load {
  transition: width 0.5s ease;
  background-color: $color-primary;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
}
