.edit-discount-body {
  display: flex;
}

.edit-discount-col {
  &:not(:first-child) {
    margin-left: 40px;
  }
}

.col_form {
  width: 320px;
}

.edit-discount-info {
  &:not(:first-child) {
    margin-top: 32px;
  }
}

.edit-discount-info__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6a7b95;
}

.edit-discount-info__value {
  font-size: 14px;
  line-height: 20px;
  color: #191b23;
}

.edit-discount__field {
  margin-top: 32px;
}

.edit-discount__moderation {
  margin-top: 35px;
}

.edit-discount-footer {
  display: flex;

  .button:not(:first-child) {
    margin-left: 12px;
  }
}

:deep(.edit-discount__drop-area) {
  width: 240px;
  height: 158px;
  min-width: unset;

  .previews {
    height: 100%;

    .preview {
      height: 100%;
    }
  }
}

.col_preview {
  width: 360px;
}

.edit-discount__preview-card {
  margin-top: 32px;
}

.edit-discount__card-size-select {
  width: 180px;
}
