<template>
  <PopupSidebar title="Редактирование скидки" @close="close">
    <template #body>
      <div class="edit-discount-body">
        <div class="edit-discount-col col_form">
          <div class="edit-discount-info">
            <div class="edit-discount-info__label">Компания</div>
            <div class="edit-discount-info__value">{{ companyName }}</div>
          </div>

          <div class="edit-discount-info">
            <div class="edit-discount-info__label">Набор скидок</div>
            <div class="edit-discount-info__value">{{ discountName }}</div>
          </div>

          <Input
            class="edit-discount__field"
            label="Заголовок"
            placeholder="Заголовок набора скидок"
            maxlength="500"
            :value="localDiscount.title"
            @input="onNameForCustomersChange"
          />
          <Postscript>*указывается только одна скидка</Postscript>

          <Input
            class="edit-discount__field"
            label="Бренд"
            placeholder="Введите название бренда"
            maxlength="500"
            :value="brand.name_brand"
            @input="onNameBrandChange"
          />
          <Postscript>*максимальное количество символов 25</Postscript>

          <Input
            class="edit-discount__field"
            label="Короткое описание"
            placeholder="Введите текст короткого описания"
            maxlength="500"
            :value="localDiscount.description"
            @input="onTextChange"
          />
          <Postscript>*максимальное количество символов 25</Postscript>

          <TextArea
            class="edit-discount__field"
            label="Полное описание"
            placeholder="Описание набора скидок"
            maxlength="500"
            :rows="3"
            :value="localDiscount.extra_description"
            @input="onExtraDescriptionChange"
          />

          <div class="edit-discount__field">
            <Label>Изображение</Label>
            <DropArea
              class="edit-discount__drop-area"
              :onChange="onImageUpload"
              :allowedCount="1"
              :initialItems="initialImage"
            />
          </div>

          <Checkbox
            class="edit-discount__moderation"
            :value="localDiscount.is_moderated"
            :onChange="toggleModerated"
            label="модерация пройдена"
            labelPosition="after"
          />
        </div>

        <div class="edit-discount-col col_preview">
          <Select
            class="edit-discount__card-size-select"
            label="Размер карточки"
            :options="discountCardSizeOptions"
            :value="localDiscount.card_size"
            @select="onCardSizeChange"
          />

          <div class="edit-discount__preview-card"
            ><Label>Вид карточки в приложении</Label>
            <DiscountCardPreview
              :image="discountImage"
              :title="localDiscount.title"
              :brand="brand.name_brand"
              :companyLogo="companyLogo"
          /></div>
          <div class="edit-discount__preview-card"
            ><Label>Вид страницы скидки в приложении</Label>
            <DiscountPagePreview
              :image="discountImage"
              :title="localDiscount.title"
              :description="localDiscount.extra_description"
              :companyLogo="companyLogo"
          /></div>
        </div>
      </div>
    </template>

    <template #footer>
      <div class="edit-discount-footer">
        <Button @click="save">Сохранить</Button>
        <Button @click="close" secondary>Отменить</Button>
      </div>
    </template>
  </PopupSidebar>
</template>

<script>
import DiscountCardPreview from '../DiscountCardPreview/DiscountCardPreview';
import DiscountPagePreview from '../DiscountPagePreview/DiscountPagePreview';
import PopupSidebar from '@/core/components/PopupSidebar/PopupSidebar';
import DropArea from '@/core/components/DropArea/DropArea';
import Input from '@/core/components/Input/Input';
import Select from '@/core/components/Select/Select';
import Label from '@/core/components/Label/Label';
import Postscript from '@/core/components/Postscript/Postscript';
import TextArea from '@/core/components/TextArea/TextArea';
import Checkbox from '@/core/components/Checkbox/Checkbox';
import Button from '@/core/components/Controls/Button/Button';

import { discountCardSizeOptions } from '@/apps/content/data/discounts';
import cloneDeep from 'lodash/cloneDeep';

export default {
  emits: ['close', 'save'],

  components: {
    DiscountCardPreview,
    DiscountPagePreview,
    PopupSidebar,
    Input,
    DropArea,
    Label,
    Postscript,
    Checkbox,
    Button,
    Select,
    TextArea,
  },

  props: {
    discount: {
      type: [Object],
      default: () => ({}),
    },
  },

  data() {
    return {
      imageFile: null,
      localDiscount: {},
      brand: {},
      discountCardSizeOptions,
    };
  },

  watch: {
    discount: {
      immediate: true,
      handler(val) {
        if (!val) return;

        this.localDiscount = cloneDeep(val);
        this.brand = {
          id: val.company.id,
          name_brand: val.company.name_brand,
          name_brand_en: val.company.name_brand_en,
        };
      },
    },
  },

  computed: {
    initialImage() {
      return [this.discount.image_link];
    },

    dropAreaImage() {
      const { source, preview } = this.imageFile || {};
      return source && source instanceof File ? preview : null;
    },

    discountImage() {
      return this.dropAreaImage || this.discount.image_link || '';
    },

    companyLogo() {
      const { logo_link_100x100, logo_link_200x200 } = this.discount.company;
      return logo_link_200x200 || logo_link_100x100 || '';
    },

    companyName() {
      return this.getNameAndId(this.localDiscount.company || {});
    },

    discountName() {
      return this.getNameAndId(this.localDiscount);
    },
  },

  methods: {
    getNameAndId: ({ id, name }) => {
      if (!id) return;

      const displayedId = `ID ${id}`;
      return [name, displayedId].join(', ');
    },

    close() {
      this.$emit('close');
    },

    save() {
      this.$emit('save', { discount: this.localDiscount, image: this.dropAreaImage, brand: this.brand });
    },

    onImageUpload(files) {
      const [file] = files;

      this.imageFile = file || null;
    },

    onNameForCustomersChange({ target }) {
      this.localDiscount.title = target.value;
    },

    onNameBrandChange({ target }) {
      this.brand.name_brand = target.value;
    },

    onTextChange({ target }) {
      this.localDiscount.description = target.value;
    },

    onExtraDescriptionChange({ target }) {
      this.localDiscount.extra_description = target.value;
    },

    onCardSizeChange({ value }) {
      this.localDiscount.card_size = value;
    },

    toggleModerated(value) {
      this.localDiscount.is_moderated = value;
    },
  },
};
</script>

<style src="./EditDiscount.scss" lang="scss" scoped></style>
